/*Goole Fontes*/
@import url("https://fonts.googleapis.com/css2? family= Poppins:wght@200;300;400;500;600;700;800 & display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
/*Some Variables */

:root {
  --green-color: #3cb815;
  --Light-green-color: #c0eb7b;
  --orange-color: #ff7e00;
  --light-orange-color: #f75f1d;
  --text-color: #1a2428;
  --bg-color: #fff;
  overflow-x: hidden !important;
}




#profileEditForm {
  display: none;
  background-color: var(--orange-color);
  height: 200px;
  width: 190px;
  position: absolute;
  position: fixed;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  right: 25%;
  top: 9.6%;
  border-radius: 8px;
  color: #eeeef9;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.7);
  opacity: 0;
  transform: translateY(-200px);
  animation-name: animarEdeeFor;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}


.header-button {
  border: none !important; /* Remover a borda */
}


body {
  color: var(--text-color);
  overflow-x: hidden !important;
}

.logoDelicacy{
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: var(--light-orange-color);
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
  cursor: pointer;
}

.profile img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Almarai","Helvetica","Arial",sans-serif;

}


.myNaveLink {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100%;
 
  width: 100%;

}


.logo-icons {
 display: none;

}

@media screen and (max-width: 900px) {
  .div-links {
      display: none;
      
  }

  .div-logo-position-fixed {
      height: 100%;
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
  }

}


@keyframes aparecerDaEsquerda {
  from {
    transform: translateX(100%); /* Inicia a sacola totalmente fora da tela, no lado esquerdo */
  }
  to {
    transform: translateX(0); /* Move a sacola para a posição inicial na tela */
  }
}

.sacola-ativa {
  animation-name: aparecerDaEsquerda;
  animation-duration: 0.6s; /* Duração da animação é de 3 segundos */
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}



.logo-links {
  height: 100px;
  justify-content: center;
  gap: 1.2rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%;
}


.itens-menu-celular {
  display: flex;
  gap: 0px;
 
  width: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.itens-menu-celular a {
  margin: 0.2rem 0.5rem;
  height: 2.8rem;
  font-size: larger;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  
  color:#f75f1d !important;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.itens-menu-celular a:hover {
  font-family: "monospace", sans-serif;
  color: #fff !important;
}

@media screen and (min-width: 400px) and (min-width: 360px) {
  
  .menuItens {
    display: flex;
  }
}



.logoImageDl {
 
    height: 150px !important;
    width: 500px !important;
 
  
}



.menu-celular {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  position: absolute;
  color: var(--bg-color);
  gap: 1.2rem;
  z-index: 1;
  background: rgba(17, 18, 17, 0.95);
  background: linear-gradient(
    34deg,
    rgba(17, 18, 17, 0.95)20%,
     rgba(17, 18, 17, 0.95)90%,
   
  );
  transition: 0.6s;
  opacity: 0;
  animation-name: menucelular;
  animation-fill-mode: forwards;
  animation-duration: 0.9s;
  transform: translateY(-50%);
}

@keyframes menucelular {
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.icone-fechar {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  top: 2rem;
  right: 1rem;
  color: white;
  
}

.itens-menu-celular {
  display: flex;
  flex-direction: column;
  text-align: center;
}


@media screen and (max-width: 800px) {
  .logo-links {
      display: none;
      font-size: 10px;
      
  }
  .logo-icons {

      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 60px;
 
  }

  
.logoImageDl {
 
  height: 100px !important;
  width: 400px !important;
  

}
}





/* 

sx={{
  display: 'none',
  backgroundColor: '#ff7e00',
  height: '200px',
  width: '190px',
  position: 'fixed', // 'absolute' não pode coexistir com 'fixed'
  justifyContent: 'space-around',
  flexDirection: 'column',
  alignItems: 'center',
  right: '25%',
  top: '9.6%',
  borderRadius: '8px',
  color: '#eeeef9',
  boxShadow: '0 0 50px 0 rgba(0, 0, 0, 0.7)',
  opacity: 0,
  transform: 'translateY(-200px)',
  animationName: 'animarEdeeFor',
  animationDuration: '0.3s',
  animationFillMode: 'forwards',
  animationTimingFunction: 'ease',
}}


  sx={{
    display: 'none',
    backgroundColor: '#ff7e00',
    height: '200px',
    width: '190px',
    position: 'fixed', // 'absolute' não pode coexistir com 'fixed'
    justifyContent: 'space-around',
    flexDirection: 'column',
    alignItems: 'center',
    right: '25%',
    top: '9.6%',
    borderRadius: '8px',
    color: '#eeeef9',
    boxShadow: '0 0 50px 0 rgba(0, 0, 0, 0.7)',
    opacity: 0,
    transform: 'translateY(-200px)',
    animationName: 'animarEdeeFor',
    animationDuration: '0.3s',
    animationFillMode: 'forwards',
    animationTimingFunction: 'ease',
  }}
>
  <p>Editar Avata</p>
  <Button>Salvar</Button>
</Box>
</Box> */