@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@200;300;400;500;600;700;800 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/*Some Variables */

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
}

:root {
  --green-color: #3cb815;
  --Light-green-color: #c0eb7b;
  --orange-color: #ff7e00;
  --light-orange-color: #f75f1d;
  --text-color: #1a2428;
  --bg-color: #fff;
 
  overflow-x: hidden !important;
}

.categoria {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative !important;
  display: flex;
  padding: 5rem 9% 2rem;
 
}




a {
  text-decoration: none;
}

.btnMyButton {
  padding: 1.2rem 1.5rem;
  background: var(--green-color);
  color: var(--bg-color);
  font-weight: 600;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 0.5rem;
  font-size: 1.7rem;
  max-width: 180px;
  transition: background-color 0.3s ease; /* Adiciona transição de cor para suavizar a mudança */

  /* Estilos de hover */
  &:hover {
    background: var(--orange-color);
    color: var(--bg-color);
    font-weight: 600;
  }
}

.btnMyButton .bx {
  padding: 4px;
  background: var(--bg-color);
  color: var(--text-color);
  border-radius: 1rem;
  font-size: 20px;
  margin: auto;
}

.categoria-container .box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 0.5rem;
}

.heading {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  color: var(--text-color);
}
.heading h1 {
  color: var(--text-color);
  font-size: 2.2rem;
  font-weight: 700;
}
.heading span {
  color: var(--text-color);
  font-size: 2rem;
  font-weight: 700;
}
.heading p {
  color: var(--text-color);
  font-size: 4rem;
  font-weight: 700;
}

.categoria-container .box img {
  width: 600px;
  height: 100px; 
  object-fit: contain;
  object-position: center;
}

.box .textName {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 1rem;
}

.box h1 {
  font-size: 9.8rem;
  font-weight: 800;
  color: var(--text-color);
}

.box p {
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--text-color);
  margin-bottom: 1rem;
}

.categoria-container .box .bx {
  padding: 10px;
  background: var(--green-color);
  color: var(--bg-color);
  border-radius: 5rem;
  margin-top: 2rem;
  position: absolute;
  bottom: -8%;
  display: none;
}
.categoria-container .box .bx:hover {
  background: var(--light-orange-color);
  transition: 0.5s all linear;
}

.categoria-container .box:hover .bx {
  display: block;
  transition: 0.5s all linear;
}

.box1 {
  background: #fef4ea;
}
.box2 {
  background: #e9f4e3;
}
.box3 {
  background: #faeaea;
}
.box4 {
  background: #eeeef9;
}
.box5 {
  background: #f7f6d7;
}

/* Produtos */
@media (max-width: 680px) {
  .categoria-container {
    gap: 1.2rem;
  }

  .categoria {
    width: 100%;
    padding: 5rem 3% 2rem;
  }

  .heading span {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 700;
  }
  .heading h1 {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 700;
  }
}

@media (max-width: 380px) {
  .categoria-container {
    gap: 1.2rem;
  }

  .categoria {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative !important;
    display: flex;
    padding: 5rem 3% 2.1rem;
  }
}
